# RAW data files not to be included with the thesis
Thesis/data/tmp
Thesis/data/tmp/*

# Veusz intermediates
Thesis/data/plots/fontconfig
Thesis/data/plots/fontconfig/*

# LaTeX intermediates
Thesis/*.aux
Thesis/*.bbl
Thesis/*.blg
Thesis/*.dvi
Thesis/*.fdb_latexmk
Thesis/*.fls
Thesis/*.lof
Thesis/*.log
Thesis/*.lot
Thesis/*.pdf
Thesis/*.ps
Thesis/*.synctex*
Thesis/*.toc
Thesis/*.aux
Thesis/*.bbl
Thesis/*.blg
Thesis/*.dvi
Thesis/*.fdb_latexmk
Thesis/*.fls
Thesis/*.lof
Thesis/*.log
Thesis/*.lot
Thesis/*.pdf
Thesis/*.ps
Thesis/*.synctex.gz
Thesis/*.toc