# RAW data files not to be included with the thesis
data/tmp
data/tmp/*

# Veusz intermediates
data/plots/fontconfig
data/plots/fontconfig/*

# LaTeX intermediates
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.pdf
*.ps
*.synctex*
*.toc
./*.aux
./*.bbl
./*.blg
./*.dvi
./*.fdb_latexmk
./*.fls
./*.lof
./*.log
./*.lot
./*.pdf
./*.ps
./*.synctex.gz
./*.toc